.pokemon {
    border: solid 3px #fff;
    /* box-shadow: rgba(255, 253, 253, 0.4) 0px 7px 20px 5px; */
    transition: all 0.5s;
    cursor: pointer;
}

.pokemon:hover {
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.5));
    
}

/* 15 10 5 */